<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AWESOME</title>
    <link rel="stylesheet" href="static/style.css" type="text/css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div>
        <h1>WELCOME TO THE PLACE.</h1>
        <p>
            It's a really cool place. Let me tell you. I think you'll really like it.
            I could talk all day about the place. I could talk so much about it because
            I love filling up the browser window with text. It's just my favorite thing.
            Not sure how you factor into that, but it is what it is.
            <br/>
            <br/>
            Feel free to poke around.
        </p>
    </div>
</body>
</html>